@font-face{
    font-family:'myfont';
    src: url("my_font.ttf");
    font-display:swap;
}
html{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;  
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

/*---- header ----*/
header{
    background: url(images/a1.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.webName{
    flex: 50%;
    display:flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 0px 0px 20px ;
}
.Name a{
    font-size:calc(3px + 2vw);
    color: white;
    margin-left: 30px;  
    font-weight: bold;
    text-decoration: none;
}

/*---- header (NavBar) ----*/
.responsiveNav{
    display: none;
}
.nav{
    flex: 50%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    height:10vmin;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 20px 0 0 ;
    position: relative;  
}
.nav div .a-nav{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: calc(11px + 0.5vw);
}
.a-nav:hover{
    opacity: 0.8;
}
.nav div .takeAction{
    margin-right: 30px;
    margin-left:10px;
    background-color:#a8a6a1;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: calc(11px + 0.5vw);
}
.about2{
    cursor: pointer;
}
.takeAction:hover{
    opacity: 0.8; 
}
.drop{
    display: flex;
    flex-direction: column;
}
.drop-down{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 65px;
    visibility: hidden; 
}
.drop-down a{
    color: white;
    text-decoration: none;
    font-size:calc(6px + 0.5vw);
    margin-top: 10px;
}
.drop-down a:hover{
    opacity: 0.8;
}
.drop:hover .drop-down{
    visibility: visible;
}

/*---- header Face ----*/
.headerFace{
    flex: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    align-self: flex-start;
    box-sizing: border-box;
    padding: 10px;
    height: 67vmin;
}
.headerFace h1{
    color: white;
    font-size: calc(5.5vh + 2vw);
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/*---- Article ----*/
article{
    display: flex;
    flex-direction: column;
    padding:2% 20% 2% 20%;
}
h1{
    font-size: calc(3vh + 0.5vw);
}
h3{
    font-size: calc(2.1vh + 0.5vw); 
    padding: 50px 0px 0px 0px;
}
.logo{
    display: flex;
    flex-direction: row;
    
}
.logo h1{
    font-size: calc(5vh + 0.5vw);
    padding: 25px 10px 25px 10px;
    margin: 0px 60px 0px 0px;
    background-color: #edeff0;
    border-radius: 50%;
    color:dimgrey;
    font-weight: 100;
}
p{
    margin: 0px;
}

/*form*/
form{
    padding:50px 0px 0px 0px;
}
.nameForm{
    display: flex;
    flex-direction: row;
    padding: 0px;
}
form #fname, #lname{
    width:100%;
    height:50px;
}
form #phone{
    width: 5em;
    height:50px;
}
form #email{
    width: 100%;
    height: 50px
}
form #message{
    resize: none;
    width: 100%;
    height: 150px;
    border-radius: 2px;
    border:1px solid lightgray;
    background-color: #fafafa;
}
#charLabel{
    font-size:0.8em;
}
#numOfChar{
    font-size:0.8em
}

form #submit{
    background-color: #a8a6a1;
    border: 0px;
    color:white;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: calc(1.5vh + 0.5vw);
}
#submit:hover{
    opacity: 0.8; 
}
input{
    border-radius: 2px;
    border:1px solid lightgray;
    background-color: #fafafa;
    margin-right:10px;
}

/*---- footer ----*/
footer{
    background-color:#38383b;
    padding: 10px;
}
footer p{
    color:white;
    text-align: center;
    font-size:calc(8px + 0.5vw);
}
footer a{
    text-decoration: none;
    color: white;
}
footer p a{
    text-decoration: underline;
    color:lightgray;
    cursor: pointer;
}

/*---- RESPONSIVE ----*/
@media screen and (max-width: 975px){
    .webName{
        padding: 0px;
        margin-top:18px;
    }
    .Name a{
        margin-left: 20px;
    }
       
/*-----NAVIGATION RESPONSIVE-----*/
    .nav{
       display: none;
    } 
    .responsiveNav{
        display: block;
    } 
    .openNav{
        color: white;
        cursor: pointer;
        font-size:calc(23px + 0.5vw);
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer;
    } 
    .openNav:hover{
        opacity: 0.8;
    }
    .sidenav{
        width:0px;
        height: 100%;
        position: fixed;
        background-color:#111;
        right: 0px;
        top:0px; 
        transition: 0.5s;
        overflow-x: hidden;
        text-overflow:ellipsis;
    }  
    .anav{
        position: absolute;
        top:90px;
    } 
    .sidenav a{
        padding: 10px;
        color:#818181;
        text-decoration: none;
        display: block;
        font-size: calc(18px + 0.5vw);
        margin-left:20px;
    } 
    .sidenav a:hover {
       color: #f1f1f1;
    }  
    .closebtn {
        color:#818181;
        margin-right:23px;
        cursor: pointer;
        position: absolute;
        right: 0px;
        top: 20px;
        font-size:calc(35px + 0.5vw);
    }  
     .closebtn:hover {
       color: #f1f1f1;
    }   
    .about{
        cursor: pointer;
    }   
    .about::after{
        content:" \00BB";
    }   
    .drop_down2{
        max-height: 34vmin;
        overflow:hidden;
        display: none;
        margin-left:10;
    }  
    .drop_down2 a{
        font-size:calc(10px + 0.5vw);
    }   
    
/*-----Article RESPONSIVE-----*/
    article{
        padding:2% 10% 2% 10%;
    }
    .logo{
        flex-direction: column;
        align-items: center;
    }
    .logo h1{
    margin: 10px 0px 10px 0px;
}
    h3{
    font-size: calc(2.1vh + 0.5vw); 
    padding: 10px 0px 0px 0px;
}
    form{
        padding: 30px 0px 0px 0px
    }
  
    
/*-----footer RESPONSIVE-----*/
    footer p{
        font-size: calc(10px + 0.5vw);
    } 
}
    
   
