html{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    
}

.content{
    display:flex;
    flex-direction: column;
}

.navResponsive{
    color: white;
    width: 50px;
    height: 50px;
    font-size: 5vmin;
    text-align: center;
    position:absolute;
    right:20px;
    top: 20px;
    visibility: hidden;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

header{
    background: url(images/a1.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.webName{
    flex: 50%;
    display:flex;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 0px 0px 20px ;
}

.Name a{
    font-size: 5vmin;
    color: white;
    margin-left: 30px;  
    font-weight: bold;
    text-decoration: none;

}

.nav{
    flex: 50%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    height:10vmin;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 20px 0 0 ;
    position: relative;
   
}

.nav div .a-nav{
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 19px; 
}

.a-nav:hover{
    opacity: 0.8;
}

.nav div .takeAction{
    margin-right: 30px;
    margin-left:10px;
    background-color:#a8a6a1;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 15px;
    font-size: 19px;
}

.takeAction:hover{
    opacity: 0.8;
  
}

.drop{
    display: flex;
    flex-direction: column;
}

.drop-down{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 65px;
    visibility: hidden;
    
}

.drop-down a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;

}

.drop-down a:hover{
    opacity: 0.8;
}

.drop:hover .drop-down{
    visibility: visible;
}

.headerFace{
    flex: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    align-self: flex-start;
    box-sizing: border-box;
    padding: 10px;
    height: 67vmin;
}

.headerFace h3{
    color: white;
    font-size: 3.5vmin;
    margin-bottom: 0;
    margin-top: 30px;
    text-align: center;
}

.headerFace h1{
    color: white;
    font-size: 10vmin;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.headerFace .learnMore{
    color: white;
    text-decoration: none;
    background-color:#a8a6a1;
    padding:20px 40px 20px 40px;
    border-radius: 5px; 
    margin-bottom: 30px;
    font-weight: bold;
}

.learnMore:hover{
    opacity: 0.8;
}


.article-1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    padding: 50;
     
}

.article-1 h4{
    font-size: 5vmin;
    box-sizing: border-box;
    margin-top:0px;
    margin-bottom: 20px;
    max-width: 130vmin;
}

.article-1 p{
    font-size: 2.6vmin;
    box-sizing: border-box;
    margin: 0px;
    max-width: 150.1vmin;
}

.row{
   display: flex;
    padding: 100px 120px 60px 120px;
}

.left-1{
    display: flex;
    align-items:flex-start;
    justify-content:center;
    flex:55%;
    background-color:white;
   
}

.right-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex:45%;
    background-color:white;
}

.fakeImage{
    width:90%;
    height:65vmin;
    background-color: aqua;
}

.right-1 h4{
    font-size: 2vmax;
    box-sizing: border-box;
    margin-bottom: 0px;
}

.right-1 p{
    font-size: 1.2vmax;
    box-sizing: border-box;
    text-align: center;    
}


.right-1 .button1{
    color: white;
    text-decoration: none;
    background-color:#a8a6a1;
    padding:20px 40px 20px 40px;
    border-radius: 5px;   
    font-weight: bold;
}

.button1:hover{
    opacity: 0.8;
}

.row2{
   display: flex;
    padding: 60px 120px 60px 120px;
}

.left-2{
    display: flex;
    align-items:flex-start;
    justify-content:center;
    flex:55%;
    background-color:white;
   
}

.right-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex:45%;
    background-color:white;
}

.fakeImage2{
    width:90%;
    height:65vmin;
}

.right-2 h4{
    font-size: 2vmax;
    box-sizing: border-box;
    margin-bottom: 0px;
}

.right-2 p{
    font-size: 1.2vmax;
    box-sizing: border-box;
    text-align: center;    
}


.right-2 .button2{
    color: white;
    text-decoration: none;
    background-color:#a8a6a1;
    padding:20px 40px 20px 40px;
    border-radius: 5px;  
    font-weight: bold;
}

.button2:hover{
    opacity: 0.8;
}

.row3{
    display: flex;
    flex-direction: column;
    background-color:e6e6e6;
    
}

.row3 h4{
    font-size: 2vmax;
    box-sizing: border-box;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 40px;
}

.row3 p{
    font-size: 1.2vmax;
    box-sizing: border-box;
    text-align: center;
    margin-top: 0px;
    
}

form{
    display: flex;
    justify-content: center;
     margin-bottom: 40px;
    padding-top: 10px;
   
}

input{
    width: 255px;
    height: 60px;
    margin: 10px;
    padding:10px;
    font-size: 2.1vmin;
    border-radius: 5px;
    border: 0px;
}

.button3{
    width: 100px;
    height: 60px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    background-color:#a8a6a1;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
}

.button3:hover{
    opacity: 0.8;
}

footer{
    background-color:#38383b;
    padding: 10px;
}

footer p{
    color:white;
    text-align: center;
    font-size:2.3vmin;
}

footer a{
    text-decoration: none;
    color: white;
}

footer p a{
    text-decoration: underline;
    color:lightgray;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    .webName{
        padding:10 0 10 10;
    }
    .Name a{
        margin-left: 10PX;
    }
   
    .nav{
       visibility: hidden;
    }
    
    .navResponsive{
        visibility: visible;
    }
    
    .navResponsive:hover{
        visibility: visible;
    }
    
    .article-1{
        padding: 90 0 90 0;
        
    }

    .article-1 h4{
        font-size:5vmin;
    }
    
    .article-1 p{
        font-size:4vmin;
    }
    
    .row{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    
    .left-1 img{
        width:80vmin;
    }
    
    .right-1 h4{
        margin:15 0 15 0;
        font-size:5vmin;
    }
    
    .right-1 p{
        margin:0px;
        font-size:4vmin;
        padding: 0 50 0 50;
    }
    
    .right-1 .button1{
       padding: 15 20 15 20;
        margin: 20 0 20 0; 
        font-size: 3vmin;
    }
    
    .row2{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    
    .left-2 img{
        width:80vmin;
        padding: 50px 0 0 0;
    }
    
    .right-2 h4{
        margin:15 0 15 0;
        font-size:5vmin;
    }
    
    .right-2 p{
        margin:0px;
        font-size:4vmin;
        padding: 0 50 0 50;
    }
    
    .right-2 .button2{
       padding: 15 20 15 20;
       margin: 20 0 70 0; 
       font-size: 3vmin;
    }
    
    .left-2{
        order: 1;
        
    }
    
    .right-2{
        order: 2;
    }
    
    .row3 h4{
        font-size:5vmin;  
    }
    
    .row3 p{
        font-size:3.5vmin;
    }
    
    input{

        height: 9vmin;
    }
    
    .button3{
        height: 9vmin;
    }
    
    footer p{
        font-size: 2.5vmin;
    }
}
